<div class="container">
    <form id="houses-form" onsubmit="">




    </form>

    <section id="houses-cards" class="row">

        <div class="col-md-4 col-12">
            <div class="card text-start">
                <img class="card-img-top" src="holder.js/100px180/" alt="Title" />
                <div class="card-body">
                    <h4 class="card-title">$000,000</h4>
                    <p class="card-text">0 bed | 0 bath | 0 floors</p>
                    <p>2000</p>
                    <p>description of a really awesome house</p>
                </div>
            </div>
        </div>

    </section>

</div>